
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    overflow: hidden;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: max-content;
}

th div.center,
th div.right {
    width: 100px;
    background-color: #4e555d;
}

th div.center img {
    height: 18px;
}